src
tests
mini-scanner

# Npm
node_modules

# Previous build
sonarjs*.tgz

# ---- IntellijIDEA
*.iws
*.iml
*.ipr
.idea/

# ---- Eclipse
.classpath
.project
.settings

# ---- Mac OS X
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db 
# Folder config file
Desktop.ini

# CI
.travis.yml
cix.sh
travis.sh

# Dev Configurations
jest.config.js
third-party-licenses.sh
tsconfig.json
yarn.lock
